    .navbar-nav>li {
        padding-left: 29px;
        padding-right: 29px;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    a.dropdown-toggle {
        cursor: pointer;
    }
    
    .dropdown-menu,
    .dropdown-menu>li>a {
        border-radius: 2%;
        border-color: #000;
    }
    
    .dropdown-menu>li>a:hover {
        color: white;
        background-color: #0065ac;
        font-weight: 500;
    }
    
    .header {
        width: 100%;
        height: 50rem;
    }
    
    .right-side img {
        float: right;
        height: 38rem;
        position: relative;
        bottom: 34rem;
    }
    
    .left-side {
        height: 38rem;
        width: 100%;
        padding-top: 8rem;
    }
    
    .left-side button {
        height: 5rem;
        width: 15rem;
        border-radius: 5%;
        background-color: #2196F3;
        color: white;
        font-weight: 700;
        font-size: larger;
        border: none;
        margin-top: 0.5rem;
    }