    .navbar-nav>li {
        padding-left: 29px;
        padding-right: 29px;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    a.dropdown-toggle {
        cursor: pointer;
    }
    
    .dropdown-menu,
    .dropdown-menu>li>a {
        border-radius: 2%;
        border-color: #000;
    }
    
    .dropdown-menu>li>a:hover {
        color: white;
        background-color: #0065ac;
        font-weight: 500;
    }
    
    .header {
        width: 100%;
        height: 47rem;
    }
    
    .right-side img {
        float: right;
        height: 38rem;
        position: relative;
        bottom: 34rem;
    }
    
    .left-side {
        height: 38rem;
        width: 100%;
        padding-top: 8rem;
    }
    
    .left-side button {
        height: 5rem;
        width: 15rem;
        border-radius: 5%;
        background-color: #2196F3;
        color: white;
        font-weight: 700;
        font-size: larger;
        border: none;
        margin-top: 0.5rem;
    }
    
    .header-2 {
        width: 100%;
        height: 47rem;
        /* border: solid red; */
    }
    
    .header-2 video {
        /* border: solid red; */
        box-shadow: 3px 3px 3px 6px rgb(150, 148, 148);
    }
    
    .left-side-2 {
        margin-top: 7rem;
        /* border: solid; */
        position: absolute;
        /* margin-left: 30px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-3 {
        height: 20rem;
        /* border: solid; */
    }
    
    .carousel-item {
        /* background-position-y: -300px; */
        background-position-y: -100px;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        height: 30rem;
        background-image: url('./images/carousel-bg.jpg');
    }
    
    .carousel-inner .item h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 38px;
        font-weight: bolder;
        text-align: center;
        margin-top: 15rem;
        color: white;
        text-shadow: 1px 1px 1px yellow;
    }
    
    .slider {
        margin-bottom: 10rem;
        background-image: url('./images/carousel-bg.jpg');
        background-repeat: no-repeat;
        background-position-y: -100px;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        height: 30rem;
    }