    .navbar-nav>li {
        padding-left: 29px;
        padding-right: 29px;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    a.dropdown-toggle {
        cursor: pointer;
    }
    
    .dropdown-menu,
    .dropdown-menu>li>a {
        border-radius: 2%;
        border-color: #000;
    }
    
    .dropdown-menu>li>a:hover {
        color: white;
        background-color: #0065ac;
        font-weight: 500;
    }
    
    .header {
        width: 100%;
        height: 47rem;
    }
    
    .right-side img {
        float: right;
        height: 38rem;
        position: relative;
        bottom: 34rem;
    }
    
    .left-side {
        height: 38rem;
        width: 100%;
        padding-top: 8rem;
    }
    
    .left-side .button-cr {
        height: 5rem;
        width: 15rem;
        border-radius: 5%;
        background-color: #2196F3;
        color: white;
        font-weight: 700;
        font-size: larger;
        border: none;
        margin-top: 0.5rem;
        padding-top: 1.5rem;
    }
    
    .header-2 {
        width: 100%;
        height: 47rem;
        /* border: solid red; */
    }
    
    .header-2 video {
        /* border: solid red; */
        box-shadow: 3px 3px 3px 6px rgb(150, 148, 148);
    }
    
    .left-side-2 {
        margin-top: 7rem;
        /* border: solid; */
        position: absolute;
        /* margin-left: 30px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-3 {
        width: 100%;
        height: 42rem;
        margin-bottom: 9rem;
        /* border: solid; */
    }
    
    .right-side-3 {
        float: right;
        /* border: solid; */
        position: relative;
        bottom: 20rem;
        margin-right: 8rem;
    }
    
    .left-side-3 img {
        margin-top: 6rem;
    }
    
    .header-4 {
        width: 100%;
        height: 42rem;
        /* border: solid; */
    }
    
    .right-side-4 {
        float: right;
        /* border: solid; */
        position: relative;
        bottom: 16rem;
        margin-right: 6rem;
    }
    
    .left-side-4 img {
        margin-top: 10rem;
    }
    
    #section-9 {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(249, 254, 255);
    }
    
    summary {
        outline: none;
    }
    
    details>summary {
        list-style-type: none;
    }
    
    details>summary::-webkit-details-marker {
        display: none;
        border: none;
    }
    
    details>summary::after {
        font-family: "FontAwesome";
        content: "\f078";
        color: skyblue;
        font-size: small;
        font-weight: lighter;
        display: flex;
        justify-content: flex-end;
    }
    
    details[open]>summary::after {
        font-family: "FontAwesome";
        content: "\f078";
        color: skyblue;
        font-size: small;
        font-weight: lighter;
        display: flex;
        justify-content: flex-end;
    }
    
    .footer {
        margin-top: 10rem;
        /* border: solid yellow; */
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .footer .container .section {
        margin-right: 30px;
    }
    
    .social {
        margin-top: 20px;
        display: flex;
    }
    
    .social li {
        list-style: none;
    }
    
    .social li a {
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        width: 45px;
        height: 45px;
        background: #222;
        border-radius: 50%;
    }
    
    .social li a:hover {
        background-color: white;
    }
    
    .social li a .fa {
        font-size: 20px;
    }
    
    .quick-links {
        position: relative;
        width: 16%;
    }
    
    .quick-links ul li {
        list-style: none;
    }
    
    .quick-links ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .quick-links ul li a:hover {
        color: #2196F3;
    }
    
    .resume-guide {
        position: relative;
        width: 13%;
    }
    
    .resume-guide ul li {
        list-style: none;
    }
    
    .resume-guide ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .resume-guide ul li a:hover {
        color: #2196F3;
    }
    
    .support {
        position: relative;
        width: 14%;
        /* border: solid yellow; */
    }
    
    .support ul li {
        list-style: none;
    }
    
    .support ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .support ul li a:hover {
        color: #2196F3;
    }
    
    .footer {
        margin-top: 10rem;
        /* border: solid yellow; */
        position: relative;
        width: 100%;
        height: auto;
        padding: 50px 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .footer .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .footer .container .section {
        margin-right: 30px;
    }
    
    .social {
        margin-top: 20px;
        display: flex;
        /* border: solid blue; */
    }
    
    .social li {
        list-style: none;
    }
    
    .social li a {
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        text-decoration: none;
        width: 45px;
        height: 45px;
        background: #222;
        border-radius: 50%;
        /* border: solid rgb(190, 181, 181); */
    }
    
    .social li a:hover {
        background-color: white;
    }
    
    .social li a .fa {
        font-size: 20px;
    }
    
    .quick-links {
        position: relative;
        width: 16%;
    }
    
    .quick-links ul li {
        list-style: none;
    }
    
    .quick-links ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .quick-links ul li a:hover {
        color: #2196F3;
    }
    
    .resume-guide {
        position: relative;
        width: 13%;
    }
    
    .resume-guide ul li {
        list-style: none;
    }
    
    .resume-guide ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .resume-guide ul li a:hover {
        color: #2196F3;
    }
    
    .support {
        position: relative;
        width: 14%;
        /* border: solid yellow; */
    }
    
    .support ul li {
        list-style: none;
    }
    
    .support ul li a {
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: medium;
    }
    
    .support ul li a:hover {
        color: #2196F3;
    }
    
    .copyright-section {
        color: white;
        margin: 0 auto;
    }
    
    #copyright::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        /* position:absolute; */
        background-color: yellow;
        transition: all .3s;
    }
    
    #copyright:hover:after {
        width: 100%;
    }
    
    #copyright #footer-link {
        text-decoration: none;
        color: #2196F3;
        font-family: "FontAwesome";
        font-weight: 900;
    }
    
    .links-c {
        text-decoration: none;
        border: #000;
        color: grey;
        text-align: center;
    }
    
    #contact button {
        border: #222;
        height: max-content;
        width: max-content;
        font-size: medium;
        font-weight: bold;
    }
    
    #contact button a:hover {
        color: beige;
    }