.my-image {
    /* border: 1px solid black; */
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: aqua;
}

#cv-template1 {
    display: none;
}

#cv-form2 {
    display: none;
}

#body {
    background-image: url('/images/resume-input-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@page {
    size: auto;
    margin: 0mm;
}