.sign-up {
    height: 371px;
    border: rgb(21, 21, 133) solid;
    width: 350px;
    margin: auto;
    margin-top: 5%;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 1px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}

* {
    box-sizing: border-box;
}

input[type=text] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.label-icon::before {
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0.27em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.icon-1::before {
    content: "\f0e0";
}

.icon-2::before {
    content: "\f023";
}

.icon-3::before {
    content: "\f023";
}


/* .sign-up form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    height: 50px;
    width: 50px;
} */


/* form {
    padding-top: 0.2rem;
} */

form .btn {
    padding: 5px;
    background-color: #2196F3;
    width: 95%;
    color: white;
    font-weight: 600;
    font-size: large;
}

form .btn:hover {
    color: white;
    font-weight: 600;
    font-size: large;
}

label {
    padding-bottom: 4px;
    padding-top: 0px;
}

.footer {
    margin-top: 10rem;
    /* border: solid yellow; */
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer .container .section {
    margin-right: 30px;
}

.social {
    margin-top: 20px;
    display: flex;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    width: 45px;
    height: 45px;
    background: #222;
    border-radius: 50%;
}

.social li a:hover {
    background-color: white;
}

.social li a .fa {
    font-size: 20px;
}

.quick-links {
    position: relative;
    width: 16%;
}

.quick-links ul li {
    list-style: none;
}

.quick-links ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.quick-links ul li a:hover {
    color: #2196F3;
}

.resume-guide {
    position: relative;
    width: 13%;
}

.resume-guide ul li {
    list-style: none;
}

.resume-guide ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.resume-guide ul li a:hover {
    color: #2196F3;
}

.support {
    position: relative;
    width: 14%;
    /* border: solid yellow; */
}

.support ul li {
    list-style: none;
}

.support ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.support ul li a:hover {
    color: #2196F3;
}

.footer {
    margin-top: 10rem;
    /* border: solid yellow; */
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer .container .section {
    margin-right: 30px;
}

.social {
    margin-top: 20px;
    display: flex;
    /* border: solid blue; */
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    width: 45px;
    height: 45px;
    background: #222;
    border-radius: 50%;
    /* border: solid rgb(190, 181, 181); */
}

.social li a:hover {
    background-color: white;
}

.social li a .fa {
    font-size: 20px;
}

.quick-links {
    position: relative;
    width: 16%;
}

.quick-links ul li {
    list-style: none;
}

.quick-links ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.quick-links ul li a:hover {
    color: #2196F3;
}

.resume-guide {
    position: relative;
    width: 13%;
}

.resume-guide ul li {
    list-style: none;
}

.resume-guide ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.resume-guide ul li a:hover {
    color: #2196F3;
}

.support {
    position: relative;
    width: 14%;
    /* border: solid yellow; */
}

.support ul li {
    list-style: none;
}

.support ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.support ul li a:hover {
    color: #2196F3;
}

.copyright-section {
    color: white;
    margin: 0 auto;
}

#copyright::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    /* position:absolute; */
    background-color: yellow;
    transition: all .3s;
}

#copyright:hover:after {
    width: 100%;
}

#copyright #footer-link {
    text-decoration: none;
    color: #2196F3;
    font-family: "FontAwesome";
    font-weight: 900;
}

.links-c {
    text-decoration: none;
    border: #000;
    color: grey;
    text-align: center;
}

#contact button {
    border: #222;
    height: max-content;
    width: max-content;
    font-size: medium;
    font-weight: bold;
}

#contact button a:hover {
    color: beige;
}