.navbar-nav>li {
    padding-left: 29px;
    padding-right: 29px;
}

body {
    background-color: #71bce7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu,
.dropdown-menu>li>a {
    border-radius: 2%;
    border-color: #000;
}

.dropdown-menu>li>a:hover {
    color: white;
    background-color: #0065ac;
    font-weight: 500;
}

h1.ques-1 {
    text-align: center;
}

.section-1 {
    margin-top: 3rem;
    margin-right: 20rem;
    margin-left: 20rem;
}

.rq-head {
    color: black;
}

.rq-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: large;
}

.list-icon li:before {
    content: "\f00c";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
    color: green;
    font-size: larger;
    font-weight: bolder;
}

.list-icon ul {
    list-style: none;
}